@font-face {
    font-family: "w95";
    src: url("/fonts/W95F.otf");
}

#control-buttons {
    width: 100;
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#play-buttons {
    text-align: center;
    padding: 15px;

    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0;
}

#stats {
    background-color: #ffffff;
    padding: 10px;

    border: 2px inset #c0c0c0;
}

#stats p {
    margin: 5px 0;
}

.stat {
    font-weight: bold;
    color: #000080;
}